.bubble1,
.bubble2,
.bubble3 {
  animation: bubbly .9s infinite alternate;
}

/* Bubbles */
.bubble2 { animation-delay: .27s; }
.bubble3 { animation-delay: .54s; }

@keyframes bubbly {
  0% {
    width: 16px;
    height: 16px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}
