.bg {
  background: linear-gradient(to right, #f79226 50%, #f79226 50%);
  @media (min-width: 768px) {
    background: linear-gradient(to right, #f79226 50%, #8dc641 50%);
  }
  @media (min-width: 1536px) {
    background: linear-gradient(to right, #f79226 60%, #8dc641 40%);
  }
}
